.game-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.game-loading, .game-error {
  align-items: center;
  background-color: hsla(180, 100%, 97%, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  font-size: xx-large;
  justify-content: center;
  margin-top: 80px;
  padding: 40px;
  width: 60%;
}

.game-error {
  flex-direction: column;
  gap: 40px;
  text-transform: uppercase;
}
