.ranking-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.ranking-informations {
  align-items: center;
  background-color: hsla(180, 100%, 97%, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  min-height: 350px;
  padding-block: 30px;
  width: 60%;
}

.ranking-player-display {
  align-items: flex-start;
  background-color: hsla(180, 100%, 97%, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin-block: 10px;
  padding-top: 10px;
  padding-left: 30px;
  width: 350px;
}

.ranking-player {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 30px;
}

.ranking-player-display img {
  border-radius: 60px;
  width: 30px;
}
