.settings-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 80px;
  width: 100%;
}

/* .settings-logo {
  animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  margin-bottom: 80px;
  width: 52%;
} */

.settings-logo {
  animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  margin-bottom: 80px;
  width: 32%;
}

.settings-main-display {
  background-color: hsla(180, 100%, 97%, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  width: 36%;
}

.settings-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings-title {
  text-align: center;
}

.settings-label {
  margin-bottom: 5px;
}

.settings-label select {
  margin-top: 3px;
  width: 100%;
}

.settings-aside-button {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.settings-loading {
  font-size: xx-large;
  justify-content: center;
  margin-block: 80px;
  text-align: center;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
