.question-card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.question-card-question-container {
  align-items: center;
  background-color: hsla(180, 100%, 97%, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
  margin-bottom: 30px;
  min-height: 350px;
  padding: 40px 10px;
  width: 100%;
}

.question-card-timer {
  background-color: #e1e5eb;
  border-radius: 50px;
  font-size: xx-large;
  height: 50px;
  position: absolute;
  right: 80px;
  text-align: center;
  top: 165px;
  width: 50px;
}

.question-card-quest-and-category-container {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: 80%;
}

.question-card-options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 45%;
}
