* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {

  /* background-image: url('./image/arcade.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
  width: 100vw;
}
